body{
    font-variant: Arial, sans-serif;
}

button{
    width: 50px;
    height: 50px;
    font-size: large;
    background-color: rgba(169, 169, 169, 0.471);
    cursor: pointer;
    margin: 2px;
    border-radius: 10px;
    color: aliceblue;
    font-style: italic;
}

button:hover{
    background-color: rgba(228, 202, 202, 0.675);
    color: rgb(0, 0, 0);
}

.screen{
    width: 220px;
    height: 40px;
    font-size: 35px;
    text-align: right;
    margin-bottom: 5px;
   
}

.orange{
    background-color: rgb(177, 94, 21);
    
}

.orange:hover{
    background-color: rgb(242, 164, 122);
}

#screen{
    border-radius: 10px;
    background-color: rgb(210, 219, 225);
    color: rgb(0, 0, 0);
}

.special{
    background-color: #583214a0;
}

.calculator{
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    width: 230px;
    margin: 0 auto;
    background-color: #00000000;
}